

/* 점수 */
.score {
  text-align: center;
  margin-bottom: .6rem;
  color: #bfbfbf;
  font-weight: 500;
}

.score p {
  font-size: 3rem;
  color: #000;
  font-weight: bold;
}

/* 타이머 */
.timer {
  width: 100%;
  height: 28px;
  background: #ebebeb;
  margin: 1rem 0; 
  position: relative;
}

.timer h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #febf00;
}

.progress {
  width: 100%;
  height: 100%;
  background: #111;
  transition: width .2s;
}

.progress.vibration {
  animation: vibration .1s infinite;
}

@keyframes vibration {
  0% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

/* 카드리스트 */
.cardList {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.cardList > div {
  background: #febf00;
  border: 1px solid #fff;
  cursor: pointer;
}

/* 모달 */
.popupView {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  pointer-events: none;
  transition: .4s;
}

.popupView.open {
  pointer-events: initial;
  opacity: 1;
}

.popupView > div {
  min-width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 1rem 2rem;
  text-align: center;
}

.count p {
  margin: 1rem 0;
  font-size: 1.8rem;
}

/* 랭킹 */
.ranking {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

td, th {
  padding: .6rem 1rem;
  border: 1px solid #eee;
  transition: .2s;
}

th {
  background-color: #febf00;
  border: 1px solid #fff;
  border-bottom: 2px solid #febf00;
}

tr:hover td {
  background: #eee;
  border: 1px solid #fff;
}